<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1069891953542-m076eqrj8boem7dcffrjn0ohlkde9av1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069891953542-m076eqrj8boem7dcffrjn0ohlkde9av1</string>
	<key>API_KEY</key>
	<string>AIzaSyBvMT42YzZOy8wMIHjlTN4YTNkzCVks8cw</string>
	<key>GCM_SENDER_ID</key>
	<string>1069891953542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.anna.Geo-Chat</string>
	<key>PROJECT_ID</key>
	<string>geo-chat-9b393</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-chat-9b393.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069891953542:ios:42a9b114700a8c23</string>
	<key>DATABASE_URL</key>
	<string>https://geo-chat-9b393.firebaseio.com</string>
</dict>
</plist>